:root {
    --dark-color: #2d2c2c;
    --blue-solid: #243b67;
    --blue-transparent: rgba(36, 59, 103, 0.7);
    --blue-transparent-alt: rgba(36, 59, 103, 0.5);
    --blue-light: #0091a6;
    --aqua-solid: #00bd9d;
    --rating-color: #fcb900;
    --gradient-color: linear-gradient(
        to right,
        var(--aqua-solid),
        var(--blue-light)
    );
    --gradient-color-alt: linear-gradient(
        to right,
        var(--blue-light),
        var(--aqua-solid)
    );
}

/* Utility */

button{
    cursor: pointer;
}

.container {
    width: 1400px;
    margin: auto;
}

@media all and (max-width: 1500px) {
    .container{
        width: 1100px;
    }
    
}

@media all and (max-width: 1200px) {
    .container{
        width: 970px;
    }
    
}

@media all and (max-width: 1000px) {
    .container{
        width: 750px;
    }
    
}

@media all and (max-width: 768px) {
    .container{
        width: 100%;
    }
}
